player-connection-mode=Listen
player-connection-guid=346299350
player-connection-debug=0
player-connection-project-name=Yes Sir
player-connection-ip=192.168.56.1
player-connection-ip=192.168.195.1
player-connection-ip=192.168.58.1
player-connection-ip=192.168.10.189
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
